# Builds & Dist
builds/
dist/
out/
build/
*.exe
scripts/

# Node
node_modules/

# IDE/Editors
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Logs
*.log
npm-debug.log*
logs/

# Secrets & Temp
*.env
temp/

# Android/Capacitor (Specific files are handled in sub-gitignore, but adding here for safety)
reactapp/android/.gradle/
reactapp/android/app/build/
